html
    head
    title= 'Chatbooks Deploy Middleman Server'
    body
    a(type='button', class='dev',  href=devlink) dev
    |
    |
    a(type='button', class='staging', href=staginglink) staging
    |
    |
    a(type='button', class='prod', href=prodlink) prod